.new {
	position: relative;

	&:hover::after {
		transform: rotate(10deg) var(--hover);
		box-shadow: var(--edge-highlight), var(--shadow-raised);
	}

	&::after {
		display: block;
		position: absolute;
		transform: rotate(0deg);
		transition: var(--transition-bezier);
		inset-block-start: -0.5rem;
		inset-inline-end: -0.5rem;
		box-shadow: var(--edge-highlight), var(--shadow);
		border-radius: 999px;
		background-color: var(--red-fg);
		padding: 0.25rem 0.3125rem;
		content: "جديد!";
		color: var(--contrast-color);
		font-size: var(--font-size-x-small);
		line-height: 1;
	}
}
