.wavy span {
	display: inline-block;
	animation: wave var(--transition-longer) ease-in-out alternate infinite;
	animation-delay: calc(0.1s * var(--delay));

	@keyframes wave {
		to {
			transform: translateY(-0.25em);
		}
	}
}
